:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --header-background-color: #2f303a;
  --main-background-color: #f5f4fa;
}

/* Стили для index.html */
body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* Body */
.body {
  color: var(--primary-text-color);
  font-family: Roboto;
  background-color: var(--white-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}
.list {
  list-style: none;
}
/* Logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logostart {
  color: var(--accent-color);
}

/* Site-nav */
header {
  margin-bottom: 47px;
}
.site-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus,
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--accent-color);
}
.mail,
.phone {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Hero */
.hero h1 {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  color: var(--white-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.container > .button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: var(--accent-color);
}
.button:focus,
.button:hover {
  color: var(--accent-color);
  background-color: var(--white-color);
}
/* Section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Advantages */
.advantages .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.title-advantages {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Team */
.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.section-team > .container {
  background: var(--main-background-color);
}
.team .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */
.footer > .container {
  background-color: var(--header-background-color);
}
address {
  font-style: normal;
  color: var(--white-color);
}
.contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.logoending {
  color: var(--white-color);
}
.contacts:hover,
.contacts:focus,
.current a {
  color: var(--accent-color);
}

/* Стили для portfolio.html */

.title-portfolio {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--main-background-color);
  border: var(--main-background-color);
  border-radius: 4px;
  padding: 6px 22px;
}
button:hover,
button :focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  border: var(--accent-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

/* Common */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
header > .container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.container > .logo {
  margin-right: 93px;
}
.site-nav {
  display: flex;
}
.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}
.header-link,
.mail,
.phone {
  padding: 32px 0;
}
.mail {
  margin-left: auto;
  margin-right: 50px;
}

.hero > .container {
  background-color: var(--header-background-color);
  align-items: center;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  flex-direction: column;
}
.container > .hero-title {
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
}
.container > .advantages {
  display: flex;
  padding: 47px 0 94px;
  align-items: center;
}
.advantages > .item:not(:last-child) {
  margin-right: 30px;
}
.advantages > .item {
  width: 270px;
}
.section-title {
  margin-bottom: 50px;
}
.features {
  display: flex;
  margin-bottom: 94px;
}
.features > .item:not(:last-child) {
  margin-right: 30px;
}
.section-team .section-title {
  padding-top: 94px;
  padding-bottom: 50px;
}
.container > .team {
  display: flex;
  padding-bottom: 94px;
}
.team > .item:not(:last-child) {
  margin-right: 30px;
}
.footer > .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer > .item:not(:last-child) {
  margin-bottom: 9px;
}
.portfolio > .container {
  padding-top: 42px;
  padding-bottom: 42px;
}
.buttons {
  display: flex;
  margin-bottom: 50px;
}
.buttons > .item:not(:last-child) {
  margin-right: 8px;
}
.container > .buttons {
  justify-content: center;
}
.portfolio-items > .item {
  width: 370px;
  margin-right: 30px;
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-items: nth-child(3n) {
  margin-right: 0;
}
